#back{
    background: url(./Images/scene.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 450px;
}

#road{
    background: url(./Images/road.jpg);
    
}

#car{
    width: 150px;
}

#btn1{
    background-color: green;
    width: 165px;
    font-size: 32px;
    margin: 3px;
    margin-top: 5px;
}


#btn2{
    background-color: red;
    width: 105px;
    font-size: 32px;
    margin: 3px;
    margin-top: 5px;
}

#dbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}


